## Required general modules
APScheduler
Arrow
hug
psycopg2
SQLAlchemy>=1.4 # backwards compatibility with "overlaps"
requests
psutil
fabric
pyOpenSSL
service_identity
Twisted
confluent-kafka
concurrent_log_handler
multiprocessing_logging


## Required when running on Windows
#pywin32==224   # 225-227 breaks win32file, needed by portalocker and concurrent_log_handler, but 228 works again
pywin32

## Specific modules follow; not required for the base platform
## Protocol specific
pysnmp         # SNMP
pymi           # WMI


## Job specific
openpyxl       # reportWorkbook
